DATABASE_URL=mysql://root:AutrfWTKHMWOIgsoxogxHbOgiurNQGKU@crossover.proxy.rlwy.net:57547/railway
NODE_ENV=development
PORT=3000

# Email Configuration (untuk Gmail)
EMAIL_USER="mbintangal05@gmail.com"
EMAIL_PASS="your-app-password" 